<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.jenkinsci.plugins.JIRADefectLogger.DefectPublisher plugin="JIRADefectLogger@1.0-SNAPSHOT">
      <url>https://jiradevops.atlassian.net</url>
      <username>sandipbhattacharjee1201@gmail.com</username>
      <password>intel12345</password>
      <projectkey>DEV</projectkey>
      <issuetype>Bug</issuetype>
      <defectxml>D:\\DefectTrace.xml</defectxml>
    </org.jenkinsci.plugins.JIRADefectLogger.DefectPublisher>
  </publishers>
  <buildWrappers/>
</project>